<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finance Tracker</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="button-container">
        <button onclick="window.location.href = '/logout'">Logout</button>
      </div>
      <header>Finance Tracker</header>
      <h1>Welcome, {{ user.username }}</h1>
      <br />
      <br />
      <!-- New box containers -->
      <div class="box-container">
        <div class="big-box">
          <h4>Manage Transactions</h4>
          <br />
          <div class="button-container">
            <button onclick="showForm('addTransactionForm')">
              Add Transaction
            </button>
            <button onclick="showForm('updateTransactionForm')">
              Update Transaction
            </button>
            <button onclick="showForm('deleteTransactionForm')">
              Delete Transaction
            </button>
          </div>

          <!-- <h2>Add Transaction</h2> -->
          <div
            class="forms-container"
            style="
              background-color: #555;
              padding: 15px;
              border-radius: 10px;
              margin-top: 20px;
            "
          >
            <form
              id="addTransactionForm"
              onsubmit="event.preventDefault(); submitForm('addTransactionForm', '/transactions')"
            >
              <label for="description">Description:</label>
              <input
                type="text"
                id="description"
                name="description"
                required
              /><br />

              <label for="budget_id">Category:</label>
              <select id="budget_id" name="budget_id" required>
                {% for budget in budgets %} {% if budget.user_id == user.user_id
                %}
                <option value="{{ budget.budget_id }}">
                  {{ budget.category }}
                </option>
                {% endif %} {% endfor %}</select
              ><br />

              <label for="amount">Amount:</label>
              <input type="number" id="amount" name="amount" required /><br />

              <label for="date">Date:</label>
              <input type="date" id="date" name="trans_date" required /><br />

              <input
                type="hidden"
                id="user_id"
                name="user_id"
                value="{{ user.user_id }}"
              />

              <button type="submit">Add Transaction</button>
            </form>

            <!-- <h2>Update Transaction</h2> -->
            <form
              id="updateTransactionForm"
              onsubmit="event.preventDefault(); submitForm('updateTransactionForm', '/transactions')"
            >
              <label for="trans_id">ID:</label>
              <input
                type="number"
                id="trans_id"
                name="trans_id"
                required
              /><br />

              <label for="description">Description:</label>
              <input
                type="text"
                id="description"
                name="description"
                required
              /><br />

              <label for="budget_id">Category:</label>
              <select id="budget_id" name="budget_id" required>
                {% for budget in budgets %} {% if budget.user_id == user.user_id
                %}
                <option value="{{ budget.budget_id }}">
                  {{ budget.category }}
                </option>
                {% endif %} {% endfor %}</select
              ><br />

              <label for="amount">Amount:</label>
              <input type="number" id="amount" name="amount" required /><br />

              <label for="trans_date">Date:</label>
              <input
                type="date"
                id="trans_date"
                name="trans_date"
                required
              /><br />

              <button type="submit">Update Transaction</button>
            </form>

            <!-- <h2>Delete Transaction</h2> -->
            <form
              id="deleteTransactionForm"
              onsubmit="event.preventDefault(); submitForm('deleteTransactionForm', '/transactions')"
            >
              <label for="trans_id">ID:</label>
              <input
                type="number"
                id="trans_id"
                name="trans_id"
                required
              /><br />
              <button type="submit">Delete Transaction</button>
            </form>
          </div>

          <script>
            function showForm(formId) {
              // Hide all forms
              document.querySelectorAll("form").forEach((form) => {
                form.style.display = "none";
              });

              // Show the selected form
              document.getElementById(formId).style.display = "block";
            }
            function submitForm(formId, endpoint) {
              const form = document.getElementById(formId);
              const formData = new FormData(form);
              let url = `http://127.0.0.1:5000${endpoint}`;
              let method;

              if (formId.includes("addTransactionForm")) {
                method = "POST";
              } else if (formId.includes("updateTransactionForm")) {
                method = "PUT";
                url = url + "/" + formData.get("trans_id");
              } else if (formId.includes("deleteTransactionForm")) {
                method = "DELETE";
                url = url + "/" + formData.get("trans_id");
              }

              fetch(url, {
                method: method,
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(Object.fromEntries(formData)),
              })
                .then((response) => {
                  if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                  }
                  return response.json();
                })
                .then((data) => {
                  console.log("Success:", data);
                  location.reload();
                })
                .catch((error) => {
                  console.error("Error:", error);
                });
            }
            function logout() {
              fetch("http://127.0.0.1:5000/logout", {
                method: "GET",
                headers: {
                  "Content-Type": "application/json",
                },
              })
                .then((response) => {
                  if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                  }
                  window.location.href = "http://127.0.0.1:5000/";
                })
                .catch((error) => {
                  console.error("Error:", error);
                });
            }
          </script>
        </div>

        <div class="big-box">
          <!-- budget operations -->
          <h4>Manage Budgets</h4>
          <br />
          <div class="button-container">
            <button onclick="showFormBudgets('addBudgetForm')">
              Add Budget
            </button>
            <button onclick="showFormBudgets('updateBudgetForm')">
              Update Budget
            </button>
            <button onclick="showFormBudgets('deleteBudgetForm')">
              Delete Budget
            </button>
          </div>

          <div
            class="forms-container"
            style="
              background-color: #555;
              padding: 15px;
              border-radius: 10px;
              margin-top: 20px;
            "
          >
            <!-- Add budget form -->
            <form
              id="addBudgetForm"
              onsubmit="event.preventDefault(); submitFormBudgets('addBudgetForm', '/budgets')"
            >
              <label for="category">Category:</label>
              <input type="text" id="category" name="category" required /><br />

              <label for="amount">Amount:</label>
              <input type="number" id="amount" name="amount" required /><br />

              <input
                type="hidden"
                id="user_id"
                name="user_id"
                value="{{ user.user_id }}"
              />

              <button type="submit">Add Budget</button>
            </form>
            <!-- Update budget form -->
            <form
              id="updateBudgetForm"
              onsubmit="event.preventDefault(); submitFormBudgets('updateBudgetForm', '/budgets')"
            >
              <label for="budget_id">ID:</label>
              <input
                type="number"
                id="budget_id"
                name="budget_id"
                required
              /><br />

              <label for="category">Category:</label>
              <input type="text" id="category" name="category" required /><br />

              <label for="amount">Amount:</label>
              <input type="number" id="amount" name="amount" required /><br />

              <button type="submit">Update Budget</button>
            </form>
            <!-- Delete budget form -->
            <form
              id="deleteBudgetForm"
              onsubmit="event.preventDefault(); submitFormBudgets('deleteBudgetForm', '/budgets')"
            >
              <label for="budget_id">ID:</label>
              <input
                type="number"
                id="budget_id"
                name="budget_id"
                required
              /><br />

              <button type="submit">Delete Budget</button>
            </form>
          </div>

          <script>
            function showFormBudgets(formId) {
              // Hide all forms
              document.querySelectorAll("form").forEach((form) => {
                form.style.display = "none";
              });

              // Show the selected form
              document.getElementById(formId).style.display = "block";
            }

            function submitFormBudgets(formId, endpoint) {
              const form = document.getElementById(formId);
              const formData = new FormData(form);
              let url = `http://127.0.0.1:5000${endpoint}`;
              let method;

              if (formId.includes("addBudgetForm")) {
                method = "POST";
              } else if (formId.includes("updateBudgetForm")) {
                method = "PUT";
                url = url + "/" + formData.get("budget_id");
              } else if (formId.includes("deleteBudgetForm")) {
                method = "DELETE";
                url = url + "/" + formData.get("budget_id");
              }

              fetch(url, {
                method: method,
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(Object.fromEntries(formData)),
              })
                .then((response) => {
                  if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                  }
                  return response.json();
                })
                .then((data) => {
                  console.log("Success:", data);
                  location.reload();
                })
                .catch((error) => {
                  console.error("Error:", error);
                });
            }
          </script>
        </div>
      </div>

      <!-- container for the tbl budget and calculator -->
      <div class="box-container">
        <!-- table budget -->
        <div class="big-box">
          <h4>Budgets Table</h4>
          <!-- <div class="label-container"> -->
          <div class="table-container">
            <table>
              <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Budget</th>
              </tr>
              {% for budget in budgets %} {% if budget.user_id == user.user_id
              %}
              <tr>
                <td>{{ budget.budget_id }}</td>
                <td>{{ budget.category }}</td>
                <td>{{ budget.amount }}</td>
              </tr>
              {% endif %} {% endfor %}
            </table>
            <!-- </div> -->
          </div>

          <br />
        </div>
        <!-- calculator -->
        <div class="big-box">
          <h4>Calculator</h4>
          <div id="calculator" class="calculator-container">
            <input
              type="text"
              id="display"
              class="calculator-display"
              disabled
            />
            <br />

            <button onclick="appendNumber('7')" class="calculator-button">
              7
            </button>
            <button onclick="appendNumber('8')" class="calculator-button">
              8
            </button>
            <button onclick="appendNumber('9')" class="calculator-button">
              9
            </button>
            <button onclick="clearDisplay()" class="calculator-button">
              C
            </button>
            <br />

            <button onclick="appendNumber('4')" class="calculator-button">
              4
            </button>
            <button onclick="appendNumber('5')" class="calculator-button">
              5
            </button>
            <button onclick="appendNumber('6')" class="calculator-button">
              6
            </button>
            <button onclick="appendOperator('+')" class="calculator-operator">
              +
            </button>
            <br />

            <button onclick="appendNumber('1')" class="calculator-button">
              1
            </button>
            <button onclick="appendNumber('2')" class="calculator-button">
              2
            </button>
            <button onclick="appendNumber('3')" class="calculator-button">
              3
            </button>
            <button onclick="appendOperator('-')" class="calculator-operator">
              -
            </button>
            <br />

            <button onclick="appendNumber('0')" class="calculator-button">
              0
            </button>
            <button onclick="appendOperator('*')" class="calculator-operator">
              *
            </button>
            <button onclick="appendOperator('/')" class="calculator-operator">
              /
            </button>
            <button onclick="calculate()" class="calculator-equals">=</button>
          </div>

          <script>
            let currentInput = "";
            let currentOperator = "";
            let storedValue = "";
            let isCalculated = false; // Add this line

            function appendNumber(number) {
              if (isCalculated) {
                clearDisplay();
                isCalculated = false;
              }
              currentInput += number;
              updateDisplay();
            }

            function appendOperator(operator) {
              if (currentInput !== "") {
                currentOperator = operator;
                storedValue = currentInput;
                currentInput = "";
                updateDisplay();
              }
            }

            function clearDisplay() {
              currentInput = "";
              currentOperator = "";
              storedValue = "";
              updateDisplay();
            }

            function calculate() {
              if (currentInput !== "" && storedValue !== "") {
                const num1 = parseFloat(storedValue);
                const num2 = parseFloat(currentInput);
                let result;

                switch (currentOperator) {
                  case "+":
                    result = num1 + num2;
                    break;
                  case "-":
                    result = num1 - num2;
                    break;
                  case "*":
                    result = num1 * num2;
                    break;
                  case "/":
                    result = num1 / num2;
                    break;
                  default:
                    break;
                }

                clearDisplay();
                currentInput = result.toString();
                updateDisplay();
                isCalculated = true; // Add this line
              }
            }

            function updateDisplay() {
              document.getElementById("display").value =
                currentInput !== "" ? currentInput : storedValue;
            }
          </script>
        </div>
      </div>
    </div>
    <!-- End of box containers -->

    <div class="label-container">
      <h2>Financial Summary</h2>
    </div>

    <div class="table-container">
      <!-- <h2>Financial Summary</h2> -->
      <table id="financialDataTable">
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Category</th>
          <th>Transaction Amount</th>
          <th>Transaction Date</th>
          <th>Remaining Budget</th>
        </tr>
        {% for data in financial_data %} {% if data.user_id == user.user_id %}
        <tr>
          <td>{{ data.trans_id }}</td>
          <td>{{ data.description }}</td>
          <td>{{ data.category }}</td>
          <td>{{ data.amount }}</td>
          <td>{{ data.trans_date }}</td>
          <td>{{ data.remaining_budget }}</td>
        </tr>
        {% endif %} {% endfor %}
      </table>
    </div>
  </body>
</html>
